.Posts {
  display: flex;
  flex-direction: column;
}

.Posts-title {
  font-size: 5rem;
  align-self: flex-start;
}

.Posts-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
